@import url('https://fonts.googleapis.com/css?family=Righteous');
/* CSS Document */
h1 {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 200px;
	text-align: center;
	background-image: url(sl-banner.jpg);
}
